.topbar li {
    display: inline;
    padding-right: 50px;
    padding-left: 100px;
    font-size: larger;
}

.topbackground {
    background-color: aqua;
    padding-bottom: 1px;
    text-align: center;
    list-style-type: square;
    color: purple
}

.topbar {
    color: purple;
    text-align: center;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: black;
    font-family: Arial;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: aqua
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}