.topbar li {
    display: inline;
    padding-right: 50px;
    padding-left: 100px;
    font-size: larger;
}

.topbackground {
    background-color: aqua;
    padding-bottom: 1px;
    text-align: center;
    list-style-type: square;
    color: purple
}

.topbar {
    color: purple;
    text-align: center;
}

body {
    background: url(../images/dogwallpaper.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;

}

h1 {
    color: black;
    font-family: Arial;
    font-weight: 900;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 100px;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: aqua
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(235, 142, 235);
    color: white;
}

h1 {
    text-align: center;
}

label {
    text-align: center;
    width: 150px;
    text-align: right;
    font-weight: 500;
}

.register {
    text-align: center;
    display: inline-block;
    width: 150px;
    padding-left: 110px;
}

form {
    text-align: center;
}