html {

    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: url(../images/saurr.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black
}

.hero-text button {
    border-left: 50 px;
    outline: 0;
    margin-left: 300px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 900;
    box-shadow: 2px 2px 2px 2px
}

.hero-text button:hover {
    background-color: #555;
}

.topbar {
    color: purple;
    text-align: center;

}

.topbar li {
    display: inline;
    padding-right: 50px;
    padding-left: 100px;
    font-size: larger;
}

.topbackground {
    background-color: aqua;
    padding-bottom: 1px;
    text-align: center;
    list-style-type: square;
    color: purple
}

.heading {
    margin-left: 5%;
    color: gold;
}

.paragraph {
    margin-left: 10%;
    color: gold
}

.contact {
    padding-top: 5px;
    background-color: lightblue;
    text-align: center;
    color: purple
}

.info {
    padding-top: 5px;
    text-align: center;
    color: purple
}

.background {
    background-color: burlywood;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: aqua
}

#dogform {
    background-color: whitesmoke;
}

#boneimage {
    height: 200px;
    width: 200px;
}

#toyimage {
    height: 200px;
    width: 200px;
}

#clothesimage {
    height: 200px;
    width: 200px;
}

#dogfoodimage {
    height: 200px;
    width: 200px;
}


.product {
    text-align: center;
}

.footercontact {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D0DAEE;
    height: 25px;
}

.col-md-4 {
    color: purple;

    padding-top: 5px;
}

.bottompage {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
    text-align: center;
    max-width: 30%;
    margin: 0 auto;
}

.footerproduct {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #D0DAEE;
    text-align: left;
}

.producthead {
    color: gold;
    text-align: center;
    background-color: purple;
    padding-bottom: 10px;
}

.contactinfo {
    text-align: center;
    padding-top: 10px;
}

.contacttable {
    padding-left: 810px;
}

.productmain {
    height: 350px;
}

.producttableinfo {
    height: 30px;
    padding-top: 0;
    padding-left: 50px;
    text-align: center;
    font-weight: 600;
    font-size: larger;
    padding-bottom: 50px;
}

table,
th,
td {
    border: 2px solid black;
    width: 400px;
    margin-left: 50px;
    text-align: center;
    padding-left: 50px;
    margin: 0 auto;
}

.tablecontact {
    border: 2px solid black;

    border-radius: 30px;
    width: 440px;
    margin: 0 auto;
    text-align: center;
}

.productlist {

    height: fit-content;
    padding-left: 50px;
    text-align: center;
    margin: 0 auto;
}

.listparent {
    list-style-type: square;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 5px padding;
}

.productitems {
    display: inline-block;
    text-align: left;
}

.comment {
    padding-top: 10px;
}

#boneimage {
    height: 200px;
    width: 200px;
}

.col-md-3 {
    color: purple;
    padding-bottom: 250px;
    padding-top: 10px;
}